@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 100% !important;
    padding-left: 6% !important;
    padding-right: 6% !important;
}

.landing-page-img {
    background: transparent;
    /* background-image: url(./images/line2.svg); */
    background-repeat: no-repeat;
    background-position: 95% 20%;
    background-size: 35%;
}

.a {
    color: #43A735;
}

.tree {
    margin-top: 7vh;
}

.navbar {
    background: #000000 !important;
    color: white;
    z-index: 100;
}

.nav-bar-dots {
    font-weight: 900;
    color: #737FFA;;
}


.logo {
    font-family: 'Niconne', cursive;
    font-size: 1.9rem !important;
}

.box {
    background-color: #000000;
    color: #692051;
}

.svg {
    fill: transparent;
}

.intro-sub {
    background: linear-gradient(to right, rgb(64, 234, 245), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
    font-family: 'Work Sans', sans-serif;
}

.intro {
    background-color: #CA4246;
    /* background-image: linear-gradient(121deg, #ff4f84 0%, #e237f9 22%, #9078e4 41%, #737ffa 69%, #6ef9d0 80%); */
    background-image: linear-gradient(121deg, #ff4f84 0%, #ff4f84 20%, #9078e4 41%, #737ffa 69%, #6ef9d0 80%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
    letter-spacing: 4px;
    line-height: normal;
    font-size: 4.4rem;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}

.bio {
    font-size: 1.2rem;
    color: rgb(152, 152, 158);
    margin-top: 5vh;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.8rem;
}

.title-hr {
    width: 9rem;
    max-width: 100%;
    height: 0.1rem;
    background: #FFC400;
    margin-top: 6vh;
}

.resume-text {
    color: #ff4f84;
    font-weight: 400;
    letter-spacing: 2px;
}

.skills {
    background: linear-gradient(to right, rgb(64, 234, 245), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255), rgb(80, 77, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.skill-card {
    background-color: #000000;
    border-top: 1px solid rgb(56, 56, 56);
    border-left: 1px solid rgb(56, 56, 56);
    border-right: 1px solid rgb(56, 56, 56);
}

.skill-card-wrap {
    background-image: linear-gradient(121deg, #ff4f84 0%, #cc67b6 32%);
}

.project {

    /* border: 1px solid rgb(56, 56, 56); */

}

.project-line {
    width: 2rem;
    max-width: 100%;
    height: 0.1rem;
    background: rgb(255, 196, 0);
    margin-top: 2vh;
    margin-bottom: .5vh;

}

.project-line-2 {
    width: 2rem;
    max-width: 100%;
    height: 0.1rem;
    background: rgb(20, 204, 96);
    margin-top: 2vh;
    margin-bottom: .5vh;

}

.project-line-3 {
    width: 2rem;
    max-width: 100%;
    height: 0.1rem;
    background: rgb(109, 94, 200);
    margin-top: 2vh;
    margin-bottom: .5vh;

}

.project-line-5 {
    width: 2rem;
    max-width: 100%;
    height: 0.1rem;
    background: #f80759;
    margin-top: 2vh;
    margin-bottom: .5vh;

}

.project-line-7 {
    width: 2rem;
    max-width: 100%;
    height: 0.1rem;
    background: #FAAD80;
    margin-top: 2vh;
    margin-bottom: .5vh;

}

.project-line-non {
    width: 2rem;
    max-width: 100%;
    height: 0.1rem;

    margin-top: 2vh;
    margin-bottom: .5vh;

}

.project-title {
    color: rgb(194, 194, 194);
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 15px;

}

.project-text {
    color: rgb(97, 97, 97);
    letter-spacing: 1px;
    font-size: 14px;
}

.technology-text {
    color: rgb(187, 187, 187);
    letter-spacing: 1px;
    font-size: 14px;
    text-decoration: none;
}

.Technologies-title {
    color: #f80759;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
}

.Technologies-title-p2 {
    color: rgb(255, 196, 0);
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
}

.Technologies-title-p3 {
    color: rgb(20, 204, 96);
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
}

.Technologies-title-p4 {
    color: rgb(109, 94, 200);
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
}

.Technologies-title-p7 {
    color: #FAAD80;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
}

.project-container {
    border: 1px solid rgb(56, 56, 56);
}

.tech-container {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.tech-container-2 {
    background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
}

.tech-container-3 {
    background-image: linear-gradient(to top, #9babee 0%, rgb(109, 94, 200) 100%);
}

.tech-container-4 {}

.skill-title {
    font-size: .95rem;
}

.cursor {
    width: 25px;
    height: 25px;
    border: 1px solid #ff4f84;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .7s infinite alternate;
    pointer-events: none;
    z-index: 200;
}

.cursor::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    border: 5px solid #ff4f84;
    border-radius: 50%;
    opacity: .5;
    top: -1px;
    left: -1px;
    animation: cursorAnim2 .7s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.sl-icons {
    color: #e9e632;
    /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #ffffff, #fffc00);
    /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #ffffff, #fffc00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 18px !important;
}


@media (max-width: 576px) {
    .landing-page-img {
        background-image: none;
    }

    .intro {
        font-size: 2rem;
        font-weight: 700;
    }

    .resume {
        margin-top: 4rem !important;
    }
}

@media (max-width: 768px) {
    .landing-page-img {
        background-image: none;
    }
}

@media (max-width: 978px) {
    .landing-page-img {
        background-image: none;
    }

}


.container-fluid {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: auto;
}

h1 {
    font-size: 5.3rem !important;
    font-weight: 700 !important;
    line-height: 1.05em;
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 0.5vw;
    margin: 0;
    background: linear-gradient(124deg, #ff4f84 19%, #000 19%, #000 20%, #737ffa 20%, #737ffa 39%, #000 39%, #000 40%, #6ef9d0 40%, #6ef9d0 59%, #000 59%, #000 60%, #e1ed2f 60%, #e1ed2f 79%, #000 79%, #000 80%, #c318be 80%, #c318be 100%);
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    transition: all 0.5s;
}